.milad{
  text-align: center;
  .box{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    display: flexbox;
    border: 1px solid;
    padding: 8px;
    margin: 7px;
    margin-left: 15 px;
    width: 250px;
    text-align: center;
    background-color:azure;
    
  };
};


